    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Kavya Pharma</h2>


                <p>
                    We at Kavya Pharmaceuticals are committed to our customers and employees and, more importantly, to the patients who rely on our medicines. We plan to move forward with greater vigour and a clearer vision (Make in India) to put each and every individual at the heart of our commitment, working for healthier India – health. We're building on our culture of hard work, diligence and success, by working tirelessly to enhance the value we are committed to provide towards improving health and the quality of lives across the world.
                </p>
                <p>
                    Quality has always been a strong part of Kaya Pharmaceuticals proposition to ensure a high level of quality in our products. We are truly committed towards making available the finest quality medications used for the treatment of various life threatening diseases and conditions.

                </p>

            </div>
        </div>
    </section>
